/* Reset default browser styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Box sizing */
* {
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Sidebar styles */
aside {
    background-color: #f8f9fa;
    padding: 20px;
    width: 250px;
    float: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #007bff;
    color: #fff;
}

/* Main content styles */
main {
    padding: 20px;
    margin-left: 270px; /* Adjusted to accommodate sidebar width */
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    clear: both;
}


/* Hamburger menu styles */
.menu-toggle {
    display: none;
}

.menu-toggle:checked + nav {
    display: block;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    overflow-y: auto;
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

nav ul li a:hover {
    background-color: #555;
}

.content {
    margin-left: 200px;
    padding: 20px;
}

iframe {
    border: none;
}

/* Media query for mobile */
@media only screen and (max-width: 768px) {
    nav {
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #333;
        z-index: 1000;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 2000;
    }

    main {
        margin-top: 60px;
    }

    .content {
        margin-left: 0;
    }
}

